<header class="img">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 heading">
        <h1 class="main-heading">CUSTOMS DeSIGNS made EASY</h1>
        <p class="main-par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          neque aliquam maiores atque excepturi temporibus sit voluptatum nihil
          suscipit iusto, veniam eum eius inventore eos commodi deserunt. Rem,
          tempore eos! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ea placeat eligendi deserunt facilis fugiat at dicta ad, voluptatem
          nobis libero provident molestias sunt, laboriosam assumenda soluta,
          corrupti aliquam est vel!
        </p>
        <button [routerLink]="['/singup']" class="btn draw-border">
          SIGN UP
        </button>
        <button class="btn draw-border">LOGIN IN</button>
      </div>
    </div>
  </div>
  <div
    class="container-md"
    data-aos="fade-left"
    data-aos-delay="450"
    data-aos-once="true"
  >
    <div class="row">
      <div class="col-md-6">
        <h1 class="second-heading">Made to impress</h1>
        <p class="second-par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
          et consequuntur vero dolore recusandae cupiditate similique
          repudiandae at nemo, sequi tempora dicta tempore quam vel accusantium
          veritatis laborum architecto! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Reiciendis minus, magnam obcaecati sit nesciunt
          officiis quis tempore et expedita incidunt neque nam quibusdam, omnis
          repudiandae ea! Molestiae aliquid commodi ratione.
        </p>
      </div>
      <div class="col-6">
        <img
          class="second-img"
          src="../../../../assets/img/header-illius1.jpg"
        />
      </div>
    </div>
  </div>
  <div
    class="container-md"
    data-aos="fade-right"
    data-aos-delay="600"
    data-aos-once="true"
  >
    <div class="row">
      <div class="col-md-6">
        <img
          class="third-img"
          src="../../../../assets/img/header-illius2.jpg"
        />
      </div>
      <div class="col-6">
        <h1 class="third-heading">Passion in design</h1>
        <p class="third-par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
          et consequuntur vero dolore recusandae cupiditate similique
          repudiandae at nemo, sequi tempora dicta tempore quam vel accusantium
          veritatis laborum architecto! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Reiciendis minus, magnam obcaecati sit nesciunt
          officiis quis tempore et expedita incidunt neque nam quibusdam, omnis
          repudiandae ea! Molestiae aliquid commodi ratione.
        </p>
      </div>
    </div>
  </div>
  <div
    class="container-md"
    data-aos="fade-left"
    data-aos-delay="700"
    data-aos-once="true"
  >
    <div class="row">
      <div class="col-md-6">
        <h1 class="second-heading">Quality assurance</h1>
        <p class="second-par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
          et consequuntur vero dolore recusandae cupiditate similique
          repudiandae at nemo, sequi tempora dicta tempore quam vel accusantium
          veritatis laborum architecto! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Reiciendis minus, magnam obcaecati sit nesciunt
          officiis quis tempore et expedita incidunt neque nam quibusdam, omnis
          repudiandae ea! Molestiae aliquid commodi ratione. Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Eaque ipsam minus recusandae
          vitae animi nesciunt. Sequi placeat libero corporis delectus sint,
          velit saepe a, recusandae, nihil odit culpa consectetur esse?
        </p>
      </div>
      <div class="col-md-6">
        <img
          class="second-img"
          src="../../../../assets/img/header-illius3.jpg"
        />
      </div>
    </div>
  </div>
  <div
    class="container-md"
    data-aos="fade-right"
    data-aos-delay="700"
    data-aos-once="true"
  >
    <div class="row">
      <div class="col-md-6">
        <img
          class="third-img"
          src="../../../../assets/img/header-illius4.jpg"
        />
      </div>
      <div class="col-md-6">
        <h1 class="third-heading">Designing ahead</h1>
        <p class="third-par">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
          et consequuntur vero dolore recusandae cupiditate similique
          repudiandae at nemo, sequi tempora dicta tempore quam vel accusantium
          veritatis laborum architecto! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Reiciendis minus, magnam obcaecati sit nesciunt
          officiis quis tempore et expedita incidunt neque nam quibusdam, omnis
          repudiandae ea! Molestiae aliquid commodi ratione.
        </p>
      </div>
    </div>
  </div>
  <div
    class="container-md"
    data-aos="fade-right"
    data-aos-delay="700"
    data-aos-once="true"
  ></div>
</header>
<router-outlet></router-outlet>
